body { margin:0; font-family:Segoe UI; background:#ffffff; }

.header {
    position: fixed;
    width:100%;
    height:110px;
    background:#cc5c00;
    padding:15px;
}

.sidebar {
    position: fixed;
    top:60px;
    width:220px;
    height:100%;
    background:#ff7a00;
}

.menu-item {
    padding:12px;
    color:white;
    cursor:pointer;
}

.menu-item:hover { background:#e66a00; }

.submenu { display:none; }

.submenu div {
    padding:10px 30px;
    background:#e66a00;
    color:white;
    cursor:pointer;
}

.content {
    margin-left:220px;
    margin-top:60px;
    padding:20px;
}


/* PAGE TITLE */
.page-title {
    margin-bottom: 20px;
}

/* CARD */
.form-card {
    background: white;
    padding: 25px;
    border-radius: 12px;
    max-width: 700px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.05);
}

/* ROW (2 COLUMN) */
.form-row {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

/* FORM GROUP */
.form-group {
    position: relative;
    flex: 1;
}

/* INPUT */
.form-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    outline: none;
    font-size: 14px;
}

/* FLOATING LABEL */
.form-group label {
    position: absolute;
    top: 12px;
    left: 12px;
    color: #999;
    font-size: 13px;
    transition: 0.2s;
    background: white;
    padding: 0 5px;
}

/* WHEN INPUT ACTIVE */
.form-group input:focus + label,
.form-group input:valid + label {
    top: -8px;
    font-size: 11px;
    color: #ff7a00;
}

/* BUTTONS */
.form-actions {
    margin-top: 20px;
}

.btn {
    padding: 10px 20px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}

.btn.primary {
    background: #ff7a00;
    color: white;
}

.btn.secondary {
    background: #ddd;
}

.active { background:#cc5c00; }
