body { margin:0; font-family:Segoe UI; background:#ffffff; }

.header {
    position: fixed;
    width:100%;
    background:#ff7a00;
    padding:15px;
}

.sidebar {
    position: fixed;
    top:60px;
    width:220px;
    height:100%;
    background:#ff7a00;
}

.menu-item {
    padding:12px;
    color:white;
    cursor:pointer;
}

.menu-item:hover { background:#e66a00; }

.submenu { display:none; }

.submenu div {
    padding:10px 30px;
    background:#e66a00;
    color:white;
    cursor:pointer;
}

.content {
    margin-left:220px;
    margin-top:60px;
    padding:20px;
}

.active { background:#cc5c00; }
